.idea
/venv

/dataset
/data_test
/new_imgs
/eval_data
/new_eval_data
/dataset_all_classes

weights.pth
weights_improved.pth
weights_all_classes.pth
weights_all_classes_10epochs.pth
weights_all_classes_10epochs_improved.pth
weights_combined_10epochs.pth
/combined_dataset
